.ui-tabs-nav {
    border: none;
    background: transparent !important;
}

.ui-widget-header {
    background: transparent !important;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    /*overflow: auto;*/
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 10pt;
    color: black;
}

.I {
    font-style: italic !important;
}

.B {
    font-weight: bold !important;
}

.Black {
    color: black !important;
}

.Blue {
    color: #4169E1 !important;
}

.Red {
    color: red !important;
}

.White {
    color: white !important;
}

.S12 {
    font-size: 12pt !important;
}

.S14 {
    font-size: 14pt !important;
}

.S16 {
    font-size: 16pt !important;
}

.S18 {
    font-size: 18pt !important;
}

.S20 {
    font-size: 20pt !important;
}

.Friend_News_Title_Black_18 {
    font-family: Times New Roman;
    color: black !important;
    font-size: 18pt !important;
}

.Friend_News_Title_Red_18 {
    font-family: Times New Roman;
    color: red !important;
    font-size: 18pt !important;
}

.Friend_News_Title_Black_14 {
    font-family: Times New Roman;
    color: black !important;
    font-size: 14pt !important;
}

.Friend_News_Title_Red_14 {
    font-family: Times New Roman;
    color: red !important;
    font-size: 14pt !important;
}

.Friend_News_Title_Black_12 {
    font-family: Times New Roman;
    color: black !important;
    font-size: 12pt !important;
}

.Friend_News_Title_Red_12 {
    font-family: Times New Roman;
    color: red !important;
    font-size: 12pt !important;
}

.Friend_News_Text {
    font-family: Times New Roman !important;
    color: black;
    font-size: 12pt;
    word-wrap: break-word !important;
    text-align: justify !important;
}

.Friend_News_Title_Black_12_Bold {
    font-family: Times New Roman;
    color: black !important;
    font-size: 12pt !important;
    font-weight: bold;
}

.Friend_News_Title_Red_12_Bold {
    font-family: Times New Roman;
    color: red !important;
    font-size: 12pt !important;
    font-weight: bold;
}

.highslide-wrapper .highslide-html-content {
    width: 75%;
    height: 80%;
}

img {
    border: none;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
}

.img_block {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none !important;
}

    a:link {
        color: black;
    }

    a:visited {
        color: black;
    }

    a:active {
        color: black;
    }

    a:hover {
        color: black;
    }

button {
    cursor: pointer !important;
}

.ui-effects-transfer {
    border: 1px dashed red;
}

.mce-widget .mce-tooltip {
    display: none !important;
}

.Full_Width_AND_Height_css {
    width: 100%;
    height: 100%;
}

.Full_Width_css {
    width: 100%;
}

.Right_Align_css {
    text-align: right;
}

.Left_Align_css {
    text-align: left;
}

.Center_Align_css {
    text-align: center;
}

.Top_vAlign_css {
    vertical-align: top;
}

.Midle_vAlign_css {
    vertical-align: middle;
}

.Bottom_vAlign_css {
    vertical-align: bottom;
}

.Center_AND_Midle_Align_css {
    text-align: center;
    vertical-align: middle;
}

.Left_AND_Top_Align_css {
    text-align: left;
    vertical-align: top;
}

.Black_Text_css {
    font-family: Arial;
    font-size: 10pt;
    color: black;
}

.Bold_Black_Text_css {
    font-family: Arial;
    font-size: 10pt;
    color: black;
    font-weight: bold;
}

.Red_Text_css {
    font-family: Arial;
    font-size: 10pt;
    color: red;
}

.Bold_Red_Text_css {
    font-family: Arial;
    font-size: 10pt;
    color: red;
    font-weight: bold;
}

.Red_Text_12_css {
    font-family: Arial;
    font-size: 12pt;
    color: red;
    font-weight: bold;
}

.Red_Text_14_css {
    font-family: Arial;
    font-size: 14pt;
    color: red;
    font-weight: bold;
}

.Red_Text_16_css {
    font-family: Arial;
    font-size: 16pt;
    color: red;
    font-weight: bold;
}

.Red_Text_18_css {
    font-family: Arial;
    font-size: 18pt;
    color: red;
    font-weight: bold;
}


.Black_Text_12_css {
    font-family: Arial;
    font-size: 12pt;
    color: black;
}

.Blue_Text_12_css {
    font-family: Arial;
    font-size: 12pt;
    color: #4169E1;
}

.White_Text_css {
    font-family: Arial;
    font-size: 10pt;
    color: White;
}

.Bold_White_Text_css {
    font-family: Arial;
    font-size: 10pt;
    color: White;
    font-weight: bold;
}

.Black_Text_css {
    font-family: Arial;
    font-size: 10pt;
    color: black;
}

.Bold_Black_Text_css {
    font-family: Arial;
    font-size: 10pt;
    color: black;
    font-weight: bold;
}

.Shop_TRV_Index_2_Node_css {
    color: #4169E1;
    border: 1px dashed red;
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 3px;
    font-weight: normal;
    font-size: 10pt;
    overflow: hidden;
    width: 100%;
    height: 24px;
    vertical-align: middle;
}

.Shop_TRV_Index_3_Node_css {
    color: red;
    border: 1px dashed #4169E1;
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 3px;
    font-weight: bold;
    font-size: 10pt;
    overflow: hidden;
    width: 100%;
    height: 24px;
    vertical-align: middle;
}

.Shop_TRV_Selected_Node_css {
    color: white;
    border: 1px dashed red;
    background: red;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 3px;
    font-weight: bold;
    font-size: 10pt;
    overflow: hidden;
    width: 100%;
    height: 26px;
    vertical-align: middle;
    font-size: 12pt;
}

.Friend_TRV_Domain_Node_css {
    border: 1px dashed white;
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.Friend_TRV_Index_1_Node_css {
    color: black !important;
}

.Friend_TRV_Selected_Node_css {
    font-weight: bold;
    font-size: 12pt;
    color: red !important;
}

.Red_ON_White_css {
    color: red !important;
    border: 1px dashed white;
    background: white !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.Background_Picture_css {
    position: fixed;
    top: 0;
    left: 0;
}

.Main_Content_css {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: none;
    -moz-box-shadow: 0 0 0 none;
    -webkit-box-shadow: 0 0 0 none;
    box-shadow: 0 0 0 none;
}

.Seller_Search_Result_css {
    width: 300px;
}



.Upload_List_css {
    font-family: Arial, sans-serif;
    list-style-type: none;
    margin: 0px;
    padding: 0px; /*width: 300px; độ rộng tối đa để xuống dòng*/
}

    .Upload_List_css li {
        cursor: move; /* Xếp ngàng hàng, hoặc chỉ theo cột*/
        position: relative;
        float: left; /*margin: 2px 2px 0px 0px;             width: 33px;             height: 280px;             border: 1px solid #000;             text-align: center;             padding-top: 5px;             background-color: #eeeeff;             */
    }

.Chat_With_Friend_List_css {
    font-family: Arial, sans-serif;
    list-style-type: none;
    margin: 0px;
    padding: 0px; /*width: 300px; độ rộng tối đa để xuống dòng*/
}

    .Chat_With_Friend_List_css li {
        cursor: move; /* Xếp ngàng hàng, hoặc chỉ theo cột*/
        position: relative;
        float: left; /*margin: 2px 2px 0px 0px;             width: 33px;             height: 280px;             border: 1px solid #000;             text-align: center;             padding-top: 5px;             background-color: #eeeeff;             */
    }

.Table_Full_Width_AND_Height_NO_Border_css {
    width: 100%;
    height: 100%;
    border: 0;
}

.Table_Full_Width_AND_Height_NO_Border_NO_Spacing_css {
    width: 100%;
    height: 100%;
    border: 0;
    border-spacing: 0;
}

    .Table_Full_Width_AND_Height_NO_Border_NO_Spacing_css td, Table_Full_Width_AND_Height_NO_Border_NO_Spacing_css th {
        padding: 0;
    }

.Table_Border_Dashed_1_Red_css {
    border: 1px dashed red;
    border-collapse: collapse;
    border-spacing: 0;
}

    .Table_Border_Dashed_1_Red_css td, Table_Border_Dashed_1_Red_css th {
        border: 1px dashed red;
        border-collapse: collapse;
        padding: 0;
    }

.Table_Border_Dashed_1_Black_css {
    border: 1px dashed #4169E1;
    border-collapse: collapse;
    border-spacing: 0;
}

    .Table_Border_Dashed_1_Black_css td, Table_Border_Dashed_1_Black_css th {
        border: 1px dashed #4169E1;
        border-collapse: collapse;
        padding: 0;
    }

.Border_Dashed_1_Red_css {
    border: 1px dashed red;
}

.Border_Dashed_1_Black_css {
    border: 1px dashed #4169E1;
}

.Border_Dashed_2_Red_css {
    border: 2px dashed red;
}

.my-tooltip-styling {
    max-width: 485px !important;
}

.Sended_Chat_Message {
    position: relative;
    float: left;
    margin-left: 5px;
    color: White;
    border: 1px dashed white;
    background: #1589FF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-width: 80%;
    min-height: 10px;
    word-wrap: break-word;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .Sended_Chat_Message a {
        color: White !important;
    }

.Received_Chat_Message {
    position: relative;
    float: right;
    margin-right: 5px;
    color: White;
    border: 1px dashed white;
    background: #F6358A;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-width: 80%;
    min-height: 10px;
    word-wrap: break-word;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .Received_Chat_Message a {
        color: White !important;
    }

.Support_Chat_Message {
    color: White;
    border: 1px dashed white;
    /*background: #F6358A;*/
    background: #4169E1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 98%;
    min-width: 98%;
    max-width: 98%;
    word-wrap: break-word;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .Support_Chat_Message a {
        color: White !important;
    }

.Hot_Title {
    color: White;
    border: 1px dashed white;
    /*background: #F6358A;*/
    background: #4169E1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Typing_Chat_Message {
    color: Red;
    background: White;
    border: 1px dashed #4169E1;
}

.fb-like {
    height: 28px;
    overflow: hidden;
    border: 1px dashed red;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
}

.Facebook_Order_css {
    border: 1px dashed red;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
}

.Friend_News_Link_css {
    border: 1px dashed #4169E1;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
}

.Footer_Address {
    color: black;
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

#Loading_div {
    border: 3px dashed white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.Search_Shop_X_Result_TOP_ALL_div {
    border: 1px dashed #4169E1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.Friend_News_Focused {
    border: 1px dashed #4169E1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
}


.Strike {
    text-decoration: line-through;
}

#map {
    height: 768px;
    width: 100%;
}

.Shop_Sell_List_Price {
    border: 1px solid #4169E1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

.Shop_Sell_List_one {
    border: 1px dashed #4169E1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.Border_Black_Corner_css {
    border: 1px dashed #4169E1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

.Border_Black_Corner_2_css {
    border: 2px dashed #4169E1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

.Border_Black_Corner_2_Solid_css {
    border: 2px solid #4169E1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

.Detail_Search_Shop_X_Result_div {
    border: 2px dashed red;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}


.Table_Border_Blue_css {
    border: 1px solid #4169E1;
    border-collapse: collapse;
}

    .Table_Border_Blue_css td, Table_Border_Blue_css th {
        border: 1px solid #4169E1;
        border-collapse: collapse;
    }

.Corner {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.BG_Red {
    background: red;
}

.Border_Blue {
    border: 1px solid #4169E1;
    border-collapse: collapse;
}

.Border_Red {
    border: 1px solid Red;
    border-collapse: collapse;
}

.Border_Blue_Dashed {
    border: 1px dashed #4169E1;
    border-collapse: collapse;
}

.Border_Red_Dashed {
    border: 1px dashed Red;
    border-collapse: collapse;
}

.TBX_watermark {
    color: #4169E1;
}

    .TBX_watermark:focus {
        color: #4169E1;
    }
