
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Thông báo</h4>
        </div>
        <div class="modal-body form-horizontal">
            <h4 class="alert-danger"> Tài khoản của bạn hiện chưa có trong hệ thống! Hoặc đã bị khóa!
                            Hãy liên hệ với phòng IT để có tài khoản sử dụng!</h4>
        </div>

        <div class="modal-footer">
            <a href="/User/Logout?returnUrl=../home/index" class="btn btn-primary">
                Đăng nhập với tài khoản khác
            </a>
        </div>
    </div>
</div>
