<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your AX.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="admin" value="admin" />
    <add key="aspnet:MaxHttpCollectionKeys" value="10240" />
  </appSettings>
  <!--<connectionStrings>
    <add name="ASP_MemberShip_Connection_String" connectionString="Data Source='127.0.0.1'; Initial Catalog='Garden_MemberShip'; User ID='sa'; Password='123456'; MultipleActiveResultSets=true; Pooling=true; Max Pool Size=32767; Min Pool Size=1;" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".reg" mimeType="text/plain" />
        </staticContent>
    <!--<handlers>
           <add verb="*" path="*.*" name="IHttp_Handler" type="IHttp_Handler" />
        </handlers>      -->
  </system.webServer>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.web>
    <trust level="Full" />
    <machineKey validationKey="4C03495F6E1B426CD8A5EF2B78E691899441415B39651B46F9D2D8003C5CB85654F3B1E11113F5FB87C3B02FC8A3FBC8188CB09E0ADB93F36BAC7280FC298BA4" decryptionKey="CDB83496E71B75B1E2E4B2F1013DE7E08BC3A3CD43BAFBE74817CBBE426C059E" validation="SHA1" />
    <sessionState timeout="60" />
    <pages autoEventWireup="true" enableSessionState="true" enableViewState="true" enableViewStateMac="false" smartNavigation="true" validateRequest="true" enableEventValidation="false" />
    <globalization culture="en-GB" />
    <customErrors mode="Off" defaultRedirect="~/Error.aspx" />
    <trace enabled="false" localOnly="false" pageOutput="true" traceMode="SortByTime" />
    <httpRuntime executionTimeout="86400" maxRequestLength="1024000" relaxedUrlToFileSystemMapping="true" />
    <compilation debug="true" targetFramework="4.0" tempDirectory="F:\Temp">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <!--<add assembly="Microsoft.Office.Interop.Excel, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
      </assemblies>
    </compilation>
    <authentication mode="Windows">
    </authentication>
    <authorization>
      <!--<deny users="?" />-->
      <allow users="*" />
    </authorization>
    <roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider">
      <providers>
        <clear />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="ABC_App" />
      </providers>
    </roleManager>
  </system.web>
  <location path="Iam.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Upload.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Software">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="History.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Service">
        <endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Service" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <!--<system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>-->
</configuration>