<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" DataSource="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.10.12)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=rproods))) User Id=reportuser;Password=Rp3garden*321"/>
    <add key="ConnectionStringPOS" value="Data Source=.\sqlexpress;Initial Catalog=thegarden;Persist Security Info=True;User ID=sa;Password=123465"/>
  </appSettings>
</configuration>