@model BtcKpi.Web.ViewModels.IpfViewModel
<div class="modal fade" id="delete-personal-plan-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Xóa kế hoạch phát triển cá nhân</h4>
            </div>
            <div class="modal-body">
                <div id="modalError" class="alert alert-block alert-danger modalError" style="display:none">
                    <h4>Lỗi !</h4>
                    Vui lòng nhập đủ dữ liệu !
                </div>
                <form role="form">
                    <div class="box-body">
                        <input type="hidden" id="d_hdPersonalPlanID" />
                        <input type="hidden" id="d_hdPersonalPlanSeq" />
                        <div class="form-group">
                            <label for="d_activity">Các hoạt động : </label>
                            <textarea type="text" id="d_activity" class="form-control" disabled="disabled"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="d_complete-date">Ngày hoàn tất : </label>
                            <input type="text" id="d_complete-date" class="form-control text-right" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="d_remark">Ghi chú : </label>
                            <textarea type="text" id="d_remark" class="form-control" disabled="disabled"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn pull-left" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="btnDeletePersonalPlanModal">Xóa</button>
            </div>
        </div>
    </div>
</div>