@model IEnumerable<AMS.Models.GroupUser>

@{
    ViewBag.Title = "Quản lý nhóm người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <h2 class="col-md-9">Quản lý nhóm người dùng</h2>
        <div class="col-md-3" id="progresBarLoadingData" style="padding-top:5px; display:none">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                @Html.Raw("Đang xử lý dữ liệu! ")
            </div>
        </div>
    </div>
</div>

<div class="toolBar  form-inline" id="toolBar">
    <a class="btn btn-primary btn-xs pull-right create_modal" href="@Url.Action("Create", "GroupUsers")">
        <span class="glyphicon glyphicon-plus"></span> Thêm mới
    </a>
    &nbsp;
</div>
<div id="grid-list">
    @{ Html.RenderPartial("_ListGroupUser", (AMS.Models.Pagging<AMS.Models.GroupUser>)ViewBag.GroupUser); }
</div>