input[type=button],input[type=submit],input[type=reset],input[type=reset],input[type=checkbox],input[type=radio],label,a{cursor:pointer}

input[type=button],input[type=submit],input[type=reset], .btn, #btn{background:url(img/button_bg.png) 0 0 repeat-x;border:1px solid #C2C2C2;order-radius:4px;-moz-border-radius:4px;color:#000;font-size:11px;font-weight:bold;padding:3px 10px}
																								   
.btn_hover, .btn:hover, #btn:hover{background:url(img/button_bg.png) 0 -23px repeat-x;border:1px solid #CD0000;color:#fff}																								

.float_left,.floatLeft,.fl, #fl {float:left}

.float_right,.floatRight,.fr,#fr {float:right}

.clear_both,.clear {clear:both}
.c {clear:both; height:0; overflow:hidden}
.b{border:1px solid #c00}
.cp{cursor:pointer}

.hide{display:none}

.noBg{background:none}

/*color font */
.f11,#f11{font-size:11px}
.f12,#f12{font-size:12px}
.f14,#f14{font-size:14px}

.white{color:#fff}
.black{color:#000}

.no_boder,#no_boder{border:none}

a.no_under:hover{text-decoration:none}

/* margin */
.m0{margin:0}
.m5{margin:5px}
.m10{margin:10px}

.mt0,#mt0{margin-top:0px}
.mt5,#mt5{margin-top:5px}
.mt10,#mt10{margin-top:10px}
.mt15,#mt15{margin-top:15px}
.mt20,#mt20{margin-top:20px}

.mb5,#mb5{margin-bottom:5px}
.mb15,#mb15{margin-bottom:15px}
.mb20,#mb20{margin-bottom:20px}
.mb10,#mb10{margin-bottom:10px}
.mb0,#mb0{margin-bottom:0px}
.mb25{margin-bottom:25px}

.ml5,#ml5{margin-left:5px}
.ml7,#ml7{margin-left:7px}
.ml10,#ml10{margin-left:10px}
.ml15,#ml15{margin-left:15px}
.ml16,#ml16{margin-left:16px}
.ml20,#ml20{margin-left:20px}
.ml25,#ml25{margin-left:25px}
.ml30,#ml30{margin-left:30px}

.mr20,#mr20{margin-right:20px}
.mr5,#mr5{margin-right:5px}
.mr10{margin-right:10px}

/* padding */
.p0,#p0{padding:0}
.p1,#p1{padding:1px}
.p2,#p2{padding:2px}
.p3,#p3{padding:3px}
.p5,#p5{padding:5px}
.p10,#p10{padding:10px}
.p20,#p20{padding:20px}

.pt0,#pt0,#main_c #pt0{padding-top:0px}
.pLR10,#pLR10{padding:0px 10px}
.pLR5,#pLR5{padding:0px 5px}
.pt5,#pt5{padding-top:5px}
.pt10,#pt10{padding-top:10px}
.pt15,#pt15{padding-top:15px}
.pt20,#pt20{padding-top:20px}

.pl20,#pl20{padding-left:20px}

.pr5,#pr5{padding-right:5px}
.pr20,#pr20{padding-right:20px}

.pl5,#pl5{padding-left:5px}
.pl15,#pl15{padding-left:15px}

.pb0,#pb0{padding-bottom:0px}
.pb10,#pb10{padding-bottom:10px}

/* width  */
.w20{width:20px}
.w60{width:60px}
.w600{width:600px}
.w140,#w140{width:140px}
.w80,#w80{width:80px}
.width_100,.w100,#w100{width:100px}
.w200,#w200{width:200px}
.w300,#w300{width:200px}

.w100pc{width:100%}

/* height  */
.h78{height:78px}
.h80{height:80px}
.h64{height:64px}
.h62{height:62px}
.h30{height:30px}
.h20{height:20px}
.h60{height:60px}

/* other */
.lh19{line-height:19px}
.lh20{line-height:20px}
.justify, #justify{text-align:justify}
.bold, #bold{font-weight:bold}

.tAC{text-align:center}
.tAR{text-align:right}
.tAL{text-align:left}


.f11{font-size:11px}

.f13{font-size:13px}

.f14{font-size:14px}

.br3{order-radius:3px;-moz-border-radius:3px}

.br4{order-radius:4px;-moz-border-radius:4px}

.br5{order-radius:5px;-moz-border-radius:5px}

.cp{cursor:pointer}

.invisible{opacity:0.0;filter:alpha(opacity=0)}